.item_wrapper{
   
}
.dotted_line{
    border-top:dotted 2px orange;
    position:absolute;
    width:90%;
    top:33px;
    z-index:-1;
}
p{
    position:relative;
}
.item_name{
    float:left;
}
.item_price{
    float:right;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
  }
  
  .one {
    width: 60%;
    float: left;
  }
  
  .two {
    margin-left: 35%;
    align-content: flex-end;
  }